# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtualenv
.venv/
venv/
env/

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/

# Test/coverage
.pytest_cache/
.coverage*

